:2015
 {
    proxy / django:8008 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
        websocket
    }
    log stdout
    errors stdout
    tls off # tls/ssl then is turned off between the load balancer and web services for ssl termination
}
